* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

span.escrito {
    font-family: cursive;
    font-size: larger;
}

body {
    overflow-x: hidden;
    background-color: #f9fcff;
    color: #ffffff;
    color: #1f1f1f;
}

header {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #88d9f6;
}

header > section.container-flex {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
}

header > section.container-flex > img {
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 20px;
}

header > section.container-flex > section > h1 {
    margin: 15px;
}

header > section.container-flex > section > h3 {
    margin: 15px;
}

header > section.container-flex > section > p {
    max-width: 500px;
    margin-bottom: 20px;
    padding: 15px;
}

main {
    padding: 15px;
}

main > section.infos {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

section.infos > img {
    
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 552px;
}


main > section.infos > p {
    max-width: 1000px;
}

main > section.infos > ul {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

main > section.infos > ul > li {
    font-size: 17px;
    max-width: 380px;
}

main > section.infos > h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section.interativo {
    margin: 15px;
}

section.interativo > h2 {
    margin: 15px;
    text-align: center;
}